<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/style.css" rel="stylesheet"/>
    <script src="app.js"></script>
    <title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="#" class="active">ABOUT</a></li>
    </ul>
  </nav>
    <div class=e24_21>
        <div class="e25_71"></div>
        <div class="e25_72"></div>
        <div class="e25_73"></div>
        <div class=e25_10>
          <div class="e25_11"></div><span  class="e25_12">airLatvia</span>
        </div>
        <div class=e25_13>
          <div class=e25_14><span  class="e25_15">Rezervēt biļetes</span><span  class="e25_16">Mana rezervācija</span>
            <div class="e25_17"></div>
          </div><span  class="e25_18">Meklēt</span>
          <div class="e25_19"></div>
        </div>
        <div class=e25_35>
          <div class="e25_21"></div>
          <div class="e25_22"></div><span  class="e25_27">No</span>
          <div class="e25_25"></div>
          <div class="e25_26"></div><span  class="e25_28">Rīga RIX</span><span  class="e25_32">Izvēlies savu galamērķi</span><span  class="e25_33">To</span><span  class="e25_34">Izvēlies datumus</span>
        </div>
        <div class=e25_68>
          <div class="e25_37"></div>
          <div class="e25_45"></div><span  class="e25_47">No 87.99</span>
          <div class="e25_52"></div><span  class="e25_53">Rezervēt tūlīt</span><span  class="e25_46">Rīga-Istanbul</span>
        </div>
        <div class=e25_70>
          <div class="e25_42"></div><span  class="e25_56">No 79.99</span>
          <div class="e25_64"></div><span  class="e25_65">Rezervēt tūlīt</span>
          <div class="e25_63"></div><span  class="e25_51">Rīga-Roma</span>
        </div>
        <div class=e25_69>
          <div class="e25_41"></div><span  class="e25_54">No 69.99</span>
          <div class="e25_60"></div><span  class="e25_61">Rezervēt tūlīt</span>
          <div class="e25_58"></div><span  class="e25_50">Rīga-Barselona</span>
        </div><span  class="e25_20">Rezervē savu nākamo lidojumu</span><span  class="e25_36">Atklāj mūsu jaunos galamērķus</span>
      </div>
</body>
</html>