<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="static/css/styles.css" rel="stylesheet"/>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="#" class="active">HOME</a></li>
      <li><a href="./about">ABOUT</a></li>
    </ul>
  </nav>
    <div class=e14_16>
        <div class=e20_28>
          <div class="e20_7"></div><span  class="e20_9">Nopirkt biļeti</span>
        </div>
        <div class=e20_29><span  class="e20_2">Lidojiet kad vien vēlaties, kur vēlaties, pateicoties mums!</span><span  class="e20_6">
      
      Apnicis sēdēt mājās, nopērc. biļeti un lidot atpūsties.</span></div>
        <div class=e20_27>
          <div class="e20_13"></div><span  class="e20_15">airLatvia</span>
        </div>
        <div class=e20_34>
          <div class=e20_26><span  class="e20_16">Rezervēt biļetes</span><span  class="e20_22">Mana rezervācija</span>
            <div class="e20_24"></div>
          </div><span  class="e20_31">Meklēt</span>
          <div class="e20_33"></div>
        </div>
        <div class="e24_0"></div>
        <div class=e20_43>
          <div class="e20_40"></div>
        </div>
      </div>
</body>
</html>